*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/dist
/coverage
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
/storage/app/arduino-cli-home/
/storage/app/arduino-cli-home/

/public/packages/
/public/staging/
node_scripts/node_modules
node_scripts/arduino_log.txt
